.info
    {
        background-color: rgb(250,250,210 );
        border: solid 2px rgb(105,105,105) ;
        border-radius: 10px;
    }

.lablec a{
    color: black;
    font-weight: bold;
    text-decoration: none;

}
.lablec a:hover{
    font-style: italic;
    color: red;
}
p{
    text-align: justify;
}

